.number-card {
  min-width: 200px;
  padding: 16px;

  &.no-icon {
    min-width: 150px;
  }

  .sign {
    position: relative;
    top: -2px;

    margin-right: 8px;

    font-size: 2em;
  }

  .big-num {
    font-size: 4em;
  }

  .unit {
    margin-left: 8px;

    font-size: 2em;
  }
}